<div class="jumbotron text-center">
  <h1>Welcome to RandRestaurant!</h1>
  <% unless user_signed_in? %>
    <p><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  <% end %>
</div>