<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="page-header text-center">
      <h1>Create Meal</h1>
    </div>

    <% provide :button_text, 'Create Meal' %>
    <%= render 'form' %>

  </div>
</div>