<%= form_tag restaurants_path, method: :get, class: "form-horizontal" do %>
  <div class="input-group input-group-lg">
    <%= search_field_tag :search, params[ :search ], class: "form-control", placeholder: "Search for a restaurant...", autofocus: params[ :search ].blank?, autocomplete: "none" %>
    <span class="input-group-btn">
      <button type="submit" class="btn btn-default" title="Search Restaurants">
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </span>
  </div>
<% end %>

<br>

<div class="list-group">
  <%= render @restaurants %>
</div>

<%= paginate @restaurants %>