.field_with_errors
{
  @extend .has-error;
}

form
{
  margin-bottom: 6px;
}

[data-required=true]:after
{
  @extend .small;
  @extend .text-muted;
  content: "required";
  font-variant: small-caps;
  text-rendering: auto;
  padding-left: 4px;
}