.meal-options-dropdown
{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 8px;
    margin-right: 8px;
    transform: translateX( -50% );
}

.possible-restaurant
{
    .possible-restaurant-dropdown
    {
        a.btn
        {
            border: none;
            margin: -5px -10px;
        }
    }
}

.meal-attendee
{
    .meal-attendee-dropdown
    {
        a.btn
        {
            border: none;
            margin: -5px -10px;
        }
    }
}

.search-attendee
{
    form
    {
        display: inline-block;

        .btn
        {
            margin: -5px -10px;
        }
    }
}