.never-again:after
{
    content: asset-url( 'never_again_stamp.svg' );
    position: absolute;
    display: inline-block;
    left: 50%;
    transform: translate( -50%, -25% ) rotate( -15deg );
}

.fa.fa-thumbs-o-up
{
    color: #afafaf;

    &:hover
    {
        color: #777777;
    }
}

.fa.fa-thumbs-up
{
    color: #ff9c1c;

    &:hover
    {
        color: #d68317;
    }
}

#restaurant-map
{
    height: 300px;
}